[submodule "java-libstorj"]
	path = java-libstorj
	url = https://github.com/Storj/java-libstorj.git
[submodule "libstorj"]
	path = libstorj
	url = https://github.com/Storj/libstorj.git
[submodule "json-c"]
	path = json-c
	url = https://github.com/json-c/json-c.git
[submodule "libuv"]
	path = libuv
	url = https://github.com/libuv/libuv.git
[submodule "nettle"]
	path = nettle
	url = https://git.lysator.liu.se/nettle/nettle.git
